$header-line-height: calc(#{$size-header-height} - (#{$size-header-padding} * 2));

header {
  height: $size-header-height;
  padding: $size-header-padding;
  border-bottom: 1px solid $colour-border-grey;

  h1 {
    margin: 0;
    display: block;
    line-height: calc(#{$size-header-height} - (#{$size-header-padding} * 2));
  }

  .seperator {
    border-right: 1px solid $colour-border-grey;
    padding-right: 1rem;
    margin-right: 1rem;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.branding {
  text-decoration: none;
  color: $colour-black;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;

  .name {
    color: $colour-grey;
    margin-right: 1rem;
    line-height: $header-line-height;
  }

  .icon {
    border-radius: 100%;
    border: 1px solid $colour-border-grey;
    width: $header-line-height;

    img {
      width: calc(#{$header-line-height} - 20px);
      padding: 8px 0 0 9px;
    }
  }

}

.logout {
  line-height: $header-line-height;
}