label, input, textarea {
  display: block;
}

.page input, .page textarea {
  border: none;
  padding: 1rem;

  &:active, &:focus {
    outline: none;
  }
}

.form-field {
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $colour-border-grey;
    padding: .5rem;
  }
}