.layout-center {
  max-width: 50%;
  border: 1px solid $colour-border-grey;
  margin: 0 auto;
  margin-top: $size-page-padding;
  padding: $size-page-padding;

  h1:first-of-type {
    margin-top: 0;
  }
}