.page {
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: 0 1rem $size-page-padding 1rem;
  margin: 0 auto;
  color: $colour-black;
  overflow-y: auto;

  .page-container {
    max-width: calc(100vw * 0.6);
    min-width: 750px;
    margin: 0 auto;
    margin-bottom: $size-page-padding;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: $size-page-padding;
  }

  .header {
    border-bottom: 1px solid $colour-border-grey;
    padding-bottom: $size-page-padding;

    input {
      width: 100%;

      &:active {
        outline: none;
      }
    }
  }
  
  .timestamp {
    display: block;
    color: inherit;
    padding: 0;
    margin-bottom: 1rem;
    color: $colour-grey;
  }
  
  .name {
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    color: $colour-black;
  }

  .save {
    margin-top: 1rem;
  }
}

.page-content {
  %block {
    padding: .75rem;
    background: lighten($colour-border-grey, 5);
    margin: 1rem 0;
  }
  
  blockquote {
    @extend %block;
    border-left: 10px solid $colour-border-grey;
    margin-left: 2rem;
  }
  
  pre {
    @extend %block;
    border: 1px solid $colour-border-grey;
    border-radius: 3px;
  }

  figure {
    @extend %block;
    margin: 0;

    a, textarea {
      text-align: center;
      padding: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: .75rem;
    }
  }
}