.page {
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  padding: $size-page-padding 1rem 0 1rem;
  margin: 0 auto;
  max-width: 60%;
  color: $colour-black;
  overflow-y: auto;

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header {
    border-bottom: 1px solid $colour-border-grey;
    padding-bottom: $size-page-padding;
    margin-bottom: $size-page-padding;

    input {
      width: 100%;

      &:active {
        outline: none;
      }
    }
  }
  
  .timestamp {
    display: block;
    color: inherit;
    padding: 0;
    margin-bottom: 1rem;
    color: $colour-grey;
  }
  
  .name {
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    color: $colour-black;
  }

  .save {
    margin-top: 1rem;
  }
}