header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;

  border-bottom: 1px solid black;
}

body > .content {
  width: 100vw;
  height: calc(100vh - #{$size-header-height});
  display: relative;
  overflow-y: auto;
}

.index {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}